*{
    margin: 0px;
    padding: 0px;
}
body{
    
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141b21;

}
.head{
    height: 100px;
    width: auto;
    background-color: #6e828e;
    align-content: center;
    

}
.head h2{
    float: left;
    color: white;
    margin-left: 50px;

}
.head input{
    float: right;
    margin-right: 50px;
    padding: 8px;
    border: none;
    border-radius: 25px;
    width: 250px;

}
.head img{
    float: right;
    height: 20px;
    left: 255px;
    top: 6px;
    border-radius: 40px;
    position: relative;
   
}
.row2 .container{
    position: relative;
    display: flex;
    width: 97%;
    
}
.row .container img{
    margin: 45px 45px;
    height: 400px;
    width: 94%;
    border: 1px solid black;
    border-radius: 20px;
}
.row2 .container .para1{
    border: 1px solid black;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 13px;   
    font-size: 15px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background-color: #414e57;
    display: flex;
    text-align: justify;
    display: inline;
    width: 55%;

    
}

.row2 .container .para2 img{
    height: 400px;
    width: 700px;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 35px;
    padding-right: 0%;
    border: 1px solid black;
    border-radius: 20px;
    
    display: flex;
    
    
    

}
.row2 .container .para2{
    float: right;
}

.row3 .container .para3{
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin: 40px 40px;
    background-color: #456d8a;
    padding: 13px;
    
}

.row4 .container{
    position: relative;
    display: flex;
    width: 97%;
}

.row4 .container .para4, .para6{
    color: rgb(20, 19, 19);
    border: 1px solid black;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 13px;
    margin-left: 40px;
    margin-top: 20px;
    width: 400px;

}
.row4 .container .para5 img{
    border: 1px solid black;
    border-radius: 200%;
    height: 350px;
    width: 380px;
    margin-left: 70px;
    margin-right: 35px;
}
.row4 .container .para6{
    background-color: #0a443f;
    color: white;

}
.row4 .container .para4{
    background-color: #ecad46;
}

.footer{
    height: 100px;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    text-align: center;
    background-color: gray;

}

.clear{
    clear: both;
}